<div class="titulo2">
  <h1 class="titulo"> Tabla usuario </h1>
  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input type="text" placeholder="Buscar " matInput (keyup)="dataFilter($event.target.value)">
  </mat-form-field>
</div>
<div id="prueba" class="prueba">
  <div>
    <div class="tabla">
      <table class="default">
        
          <tr>
          <td>Celda 2</td>
          <td>Celda 3</td>
        </tr>
        
        <tr>
          <td>Celda 4</td>
          <td>Celda 5</td>
          <td>Celda 6</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div>
  <button (click)="export()">Click me</button>
</div>