<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Cabecera del error 404 -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
<div class="tituloE">
  <title>404 - PAGINA NO EXISTE</title>
</div>
</head>

<body>
<!-- Cuerpo del error 404 -->
  <div class="cover">
    <h1>¡OOPSS! ESTA PAGINA NO EXISTE
        <div class="error">
     <td> <small>Error 404</small></td></div>
    </h1>    
    <!-- Boton que redirige al login -->
    <a routerLink="/login">Ir al Login</a>
  </div>

</body>

</html>