
    <ngb-carousel>
      <ng-template *ngFor="let imagenes of imagenes" ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="{{imagenes.img}}" class="imagen" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>{{imagenes.name}}</h3>
        </div>
      </ng-template>
    </ngb-carousel>
    <h2> NUESTROS SERVICIOS </h2>
    <div class="card-producto">
      <div class=img-producto>
        <div class="descripcion-producto">
          <div class="producto">
            <h2> SUPERFAST </h2>
            Microempresa la cual presta servicios de domicilios en el municipio de Facatativá (Cundinamarca), ofreciendo domicilios de restaurantes, mercado y farmacia, pagos de servicios, mandados y mucho mas
          </div>
        </div>
      </div>
      <div class="container-descripcion">
        <img mat-card-image src="assets/images/construccion.jpg">
        <div class="btn-detalles">
          <button mat-raised-button color="primary" class="detalles"> VER DETALLES </button>
        </div>
      </div>
    </div>
    <div class="card-producto">
      <div class=img-producto>
        <div class="descripcion-producto">
          <div class="producto">
            <h2> OCCIBANA </h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consectetur sit amet sem et venenatis. Aliquam erat volutpat. Nunc scelerisque feugiat libero et ornare. Phasellus auctor placerat lorem, et sagittis sapien dictum non. Ut porta orci vel dui imperdiet volutpat. Aliquam euismod orci id neque consequat porta. Pellentesque congue nec lorem vitae volutpat. Pellentesque porttitor turpis at arcu viverra vestibulum. Integer quis erat at libero ultricies commodo.
          </div>
        </div>
      </div>
      <div class="container-descripcion">
        <img mat-card-image src="assets/images/construccion.jpg">
        <div class="btn-detalles">
          <button mat-raised-button color="primary" class="detalles"> VER DETALLES </button>
        </div>
      </div>
    </div>
    <div class="card-producto">
      <div class=img-producto>
        <div class="descripcion-producto">
          <div class="producto">
            <h2> MOTOTAXI DELUXE </h2>
            Empresa enfocada en la prestacion de servicios de movilidad mototaxista, pensada en facilitar el transporte de los clientes a diferentes destinos, teniendo como prioridad el bienestar de los usuarios.
          </div>
        </div>
      </div>
      <div class="container-descripcion">
        <img mat-card-image src="assets/images/construccion.jpg">
        <div class="btn-detalles">
          <button mat-raised-button color="primary" class="detalles"> VER DETALLES </button>
        </div>
      </div>
    </div>
    <div class="card-producto">
      <div class=img-producto>
        <div class="descripcion-producto">
          <div class="producto">
            <h2> HCCAUCHOS </h2>
            Es una empresa encargada de la comercialización de productos destinados al mantenimiento de automoviles, maquinaria o multiples fines
          </div>
        </div>
      </div>
      <div class="container-descripcion">
        <img mat-card-image src="assets/images/construccion.jpg">
        <div class="btn-detalles">
          <button mat-raised-button color="primary" class="detalles"> VER DETALLES </button>
        </div>
      </div>
    </div>
