<div class="contenedorPrincipal">
  <div class="contenedorMensaje">¿Está seguro que desea eliminar este usuario?</div>
  <div class="contenedorBotones">
    <div class="contenedorBotonSi">
      <div class="subcontenedorBotonSi">
        <button class="botonSi" mat-dialog-close mat-raised-button color="primary" (click)="eliminarUsuario()">Sí</button>
      </div>
    </div>
    <div class="contenedorBotonNo">
      <div class="subcontenedorBotonNo">
        <button class="botonNo" mat-dialog-close mat-raised-button color="primary">No</button>
      </div>
    </div>
  </div>
</div>
