.encabezado{
    text-align: center;
    margin: auto;
    margin-top: 4%;
}
.mat-header-cell{
    font-size: 20px;
    text-align:center;
    width: 150px;
    color: lightskyblue;
    font-weight: bold;
    border: grey 1px solid;
    border-collapse: collapse; 
    padding: 0 !important;
}
.mat-cell{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: grey 1px solid;
    border-collapse: collapse;
    padding: 0 !important;
}