mat-toolbar {
    justify-content: space-between;
}

mat-card-title{

  text-align: center;

}

mat-card-actions{

  text-align: right;

}


img{

  width: 100%;
  margin-left: 0.2%;
  height: 300px;

}

.content {
    padding: 16px;

}

.content > mat-card {
    margin-bottom: 16px;

}
.mat-form-field {
    display: flex;
    font-size: 15px;
    justify-content: center;
    margin-top: 1px;
    margin-bottom: 1px;
  }
