mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;

}

.content > mat-card {
    margin-bottom: 16px;

}
.mat-form-field {
    display: flex;
    font-size: 15px;
    justify-content: center;
    margin-top: 1px;
    margin-bottom: 1px;
  }