<div style="float: right ">
  <button mat-fab color="accent" routerLink="/superfast/catalogo" style="margin-right: 5px;">
    <mat-icon>inventory_2</mat-icon>
  </button>
  <button mat-fab color="accent" routerLink="/superfast/carrito">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>

<br>

<h1 class="titulo"> Historial de compras </h1>

<mat-form-field>
  <mat-icon matPrefix>search</mat-icon>
  <input type="text" placeholder="Buscar " matInput (keyup)="dataFilter($event.target.value)">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="encabezado">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{datePipe.transform(element.fecha, 'dd-MM-yyyy hh:mm a', 'UTC')}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre_estado_ped">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Pedido </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre_estado_ped}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre_estado_domicilio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Domicilio </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre_estado_domicilio}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre_aliado">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Aliado </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre_aliado}} </td>
  </ng-container>

  <ng-container matColumnDef="detalles">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalles del pedido </th>
    <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="openDialog(element.compras)">Ver detalles</button></td>
  </ng-container>

  <ng-container matColumnDef="valor_total">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Total </th>
    <td mat-cell *matCellDef="let element"> ${{element.valor_total}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
