h1 {
  margin-top: 50px;
  text-align: center;
  font: bold;
  font-size: 50px;
  color: transparent;
  -moz-text-stroke-width: 1.5px;
  -webkit-text-stroke-width: 1.5px;
  -moz-text-stroke-color: #000000;
  -webkit-text-stroke-color: #ffffff;
  text-shadow: 6.5px 5px #000000;
}

.detalle-container {
  margin-top: 70px;
}

.detalle-hotel-card {
  width: 800px;
  background-color: #12213baf;
  transition: all 200ms ease;
}

.detalle-hotel-card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.mat-card-title {
  font-size: 27px;
  font-style: italic;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.hoteles-card-img img {
  width: 300px;
  margin: 10px 20px;
}

.hoteles-card-img img:hover {
  filter: saturate(200%);
}

ul {
  column-count: 2;
  font-size: 16px;
  font-style: italic;
  list-style: none;
  color: #8f8f8f;
  line-height: 30px;
}

.star {
  font-size: 2rem;
  color: #8f8f8f;
  letter-spacing: 10px;
}

.filled {
  color: #ffff00;
}

mat-tab-group {
  margin-top: 70px;
  width: 70%;
}

.panel-detalle-hotel h2 {
  margin-top: 30px;
  height: 80px;
  font: bold italic large serif;
  font-size: 35px;
  color: #f44336;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.panel-detalle-hotel h3 {
  font: bold italic large serif;
  font-size: 22px;
  color: #ffffff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.mat-expansion-panel-header .title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0a1931af;
}

.seccion-reservas .mat-expansion-panel {
  background-color: #3d84b8;
  margin-bottom: 50px;
}

.seccion-reservas p {
  font-size: 20px;
  line-height: 25px;
  color: #c9c9c9;
}

.seccion-reservas button {
  height: 40px;
  width: 200px;
  margin-right: 50px;
}

.mat-slider {
  width: 180px;
}

.seccion-comentar button {
  height: 40px;
  width: 160px;
  margin-top: 30px;
  margin-bottom: 30px;
}
