<h1>BIENVENIDO A OCCIBANA</h1>

<section class="detalle-hotel">
  <div
    class="detalle-container"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <mat-card class="detalle-hotel-card">
      <mat-card-header>
        <mat-card-title>{{ hotelSeleccionado.nombre }}</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="row">
        <p class="hoteles-card-img">
          <img mat-card-image src="{{ hotelSeleccionado.imagen }}" />
        </p>

        <div class="hoteles-card-descrip">
          <ul>
            <li>Municipio: {{ hotelSeleccionado.municipio }}</li>

            <li>Zona: {{ hotelSeleccionado.zona }}</li>

            <li>
              Precio noche básico: COP {{ hotelSeleccionado.precionoche }}
            </li>

            <li>
              Precio noche doble: COP {{ hotelSeleccionado.precioNocheDoble }}
            </li>

            <li>
              Precio noche premium: COP
              {{ hotelSeleccionado.precioNochePremium }}
            </li>

            <li>
              Calificación promedio:
              <ngb-rating
                [(rate)]="hotelSeleccionado.promediocalificacion"
              ></ngb-rating>
            </li>

            <li>Dirección: {{ hotelSeleccionado.direccion }}</li>

            <li>
              Descripción y servicios: {{ hotelSeleccionado.descripcion }}
            </li>

            <li>Condiciones físicas: {{ hotelSeleccionado.condicion }}</li>

            <li>HORARIOS DE REGISTRO</li>

            <li>Check-out: {{ hotelSeleccionado.checkout }}</li>

            <li>Check-in: {{ hotelSeleccionado.checkin }}</li>

            <li>
              Habitaciones disponibles:
              {{ hotelSeleccionado.numHabitDisponibles }}
            </li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<section class="panel-detalle-hotel" fxLayoutAlign="center center">
  <mat-tab-group>
    <mat-tab label="Descripción y Reservas">
      <h2>¡Que esperas para reservar tu hotel en este instante!</h2>
      <h3>Habitaciones disponibles:</h3>
      <ng-container *ngFor="let habitacion of habitaciones">
        <mat-accordion class="seccion-reservas" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> {{ habitacion.tipo }} </mat-panel-title>
              <mat-panel-description>
                <mat-icon>local_hotel</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>Número de personas: {{ habitacion.numpersonas }}</p>
            <p>Número de camas: {{ habitacion.numcamas }}</p>
            <p>Baños por habitación: {{ habitacion.numbanio }}</p>
            <p>Precio por noche: COP {{ habitacion.precio }}</p>

            <button mat-flat-button color="warn" [routerLink]="['/occibana/hoteles/resevarHabitacion', habitacion.id]" >¡RESERVAR AHORA!</button>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
    </mat-tab>

    <mat-tab label="Puntuar y Comentar">
      <h2>{{ hotelSeleccionado.nombre }}</h2>
      <h3>{{ nombreUsuario }}</h3>

      <h2>Déjanos tu calificación</h2>
      <mat-slider
        thumbLabel
        [(ngModel)]="value"
        tickInterval="1"
        step="1"
        min="1"
        max="5"
        aria-label="units"
      ></mat-slider>

      <ngb-rating [(rate)]="value"></ngb-rating>

      <form [formGroup]="comentarioF" (ngSubmit)="comentarYcalificar($event)">
        <h2>Déjanos tu Opinión</h2>

        <mat-form-field class="comentario-full-width">
          <textarea matInput type="text" required formControlName="comentario">
          Escriba aquí su opinión sobre el hotel...
        </textarea
          >
          <mat-error
            *ngIf="comentarioF.controls.comentario.hasError('required')"
          >
            Este campo es<strong> obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <button mat-flat-button color="primary">ENVIAR</button>
      </form>
    </mat-tab>

    <mat-tab label="Comentarios">
      <h2>{{ hotelSeleccionado.nombre }}</h2>
      <h3>Comentarios recientes</h3>
      <ng-container *ngFor="let comentario of comentarios">
        <mat-accordion class="seccion-comentarios" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ comentario.nombre_usuario }}
              </mat-panel-title>
              <mat-panel-description>
                <mat-icon>comment</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>{{ comentario.fecha_comentario }}</p>
            <p>{{ comentario.comentario }}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</section>
