.encabezado {
  text-align: center;
  margin: auto;
  margin-top: 4%;
}

.titulo {
  text-align: center;
  margin-top: 4%;
  color: #607d8b;
  font-weight: bold;
  font-size: 40px;
}

.mat-header-cell {
  padding: 0px 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: lightskyblue;
  border: grey 1px solid;
  border-collapse: collapse;
}
.mat-cell {
  padding: 0 !important;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  border: grey 1px solid;
  border-collapse: collapse;
}

.mat-form-field {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: -3em;
}
