<div [hidden]="route.children.length !== 0">
    <div class="occibana-image"  fxLayoutAlign="center">
        
    <button mat-fab class="btn-reserva" color="accent" (click)="onMisReservas()">
        <img src="assets/images/reserva.png" class="img-reserva" />
    </button>

        <img src="assets/images/occibana-principal.png" />
    </div>

    <section class="filter" fxLayoutAlign="center">
        <mat-form-field class="hotel-filter">
            <mat-label>¿Buscas algún hotel en específico?</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput type="text" placeholder="Buscar hotel" (keyup)="hotelesFilter($event.target.value)">
        </mat-form-field>
    </section>

    <section class="hoteles">

        <h2>HOTELES DESTACADOS</h2>

        <div class="hoteles-container" fxLayout="column" fxLayoutAlign="center center">
            <ng-container *ngFor="let hotel of hotelesFiltrados">
                <mat-card class="hoteles-card">
                    <mat-card-header>
                        <mat-card-title>{{ hotel.nombre }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content fxLayout="row">
                        <div class="hoteles-card-descrip">
                            <ul>
                                <li>Precio noche básico: COP {{ hotel.precionoche }}</li>
                                <li>Precio noche doble: COP {{ hotel.precioNocheDoble }}</li>
                                <li>Precio nohe premium: COP {{ hotel.precioNochePremium }} </li>
                                <li>Numero de habitaciones: {{ hotel.numHabitDisponibles }}</li>
                                <li>Municipio: {{ hotel.municipio }}</li>
                            </ul>
                        </div>
                        <p class="hoteles-card-img">
                            <img onerror="this.src='assets/images/Occibana info.jpg'" mat-card-image src="{{ hotel.imagen }}">
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button [routerLink]="['/occibana/hoteles/detallesHotel', hotel.idhotel]">¡Ver más!</button>
                    </mat-card-actions>
                </mat-card>
            </ng-container>
        </div>
    </section>
    <mat-paginator [pageSizeOptions]="[3, 6, 9]"  (page)="actualizarPaginador()" showFirstLastButtons></mat-paginator>
</div>
<router-outlet></router-outlet>


