.occibana-image {
  background: linear-gradient(#12213b, #303030);
}

.occibana-image img {
  margin-top: 30px;
  width: 60%;
  border-radius: 20px;
}

.hotel-filter {
  margin-top: 30px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.hoteles h2 {
  margin-top: 35px;
  text-align: center;
  font: bold italic large serif;
  font-size: 30px;
  color: #ffffff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.hoteles-container {
  margin-bottom: 100px;
}

.hoteles-card {
  margin-top: 30px;
  width: 800px;
  display: inline-block;
}

.mat-card-title {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #12213b;
}

.hoteles-card-descrip ul {
  width: 400px;
  margin-top: 25px;
  margin-left: 25px;
  font-size: 18px;
  line-height: 35px;
}

.hoteles-card-descrip li {
  list-style: circle;
}

.hoteles-card-img img {
  margin-top: 15px;
  width: 300px;
}

mat-card-actions {
  background-color: #12213bad;
  text-align: center;
}

mat-card-actions button {
  font-weight: bold;
  font-size: 17px;
  color: #acada9;
}

.btn-reserva {
  background-color:#55A4F9;
    position: absolute;
    top: 4%;
    left: 90%;
    width: 75px;
    height: 75px;
}

.img-reserva {
  margin-top: -5px !important;
  width: 50px !important;
  font-size: 50px !important;
}