<div  fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0" fxLayoutGap.xs="0">
<form [formGroup]="FormComentar" (ngSubmit)="aceptar($event)">
    <mat-card class="generar-card" fxLayout="column" fxLayoutAlign="center center">
      <mat-card-header>
        <mat-card-title> COMENTARIO A CONDUCTOR </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <input type="hidden" name="id" formControlName="id"/>
        <div>
          <h1 class="title"style="top: 100px; left: 30%;">Cliente:</h1>
          <h1 class="info"style="top: 100px; left: 50%;">{{this.cliente}}</h1>
        </div>
        <div>
          <h1 class="title"style="top: 150px; left: 30%;">Conductor:</h1>
          <h1 class="info"style="top: 150px; left: 50%;">{{this.conductor}}</h1>
        </div>
              <mat-form-field appearance="outline" class="textArea">
                <mat-icon matPrefix>description</mat-icon>
                <textarea matInput formControlName="comentario" rows="5"></textarea>
              <mat-error *ngIf="FormComentar.controls.comentario.hasError('required')">
                  Este campo es<strong> obligatorio</strong>
              </mat-error>
            </mat-form-field>

          <button mat-raised-button color="primary"style="top: 300px; left: -45px;" type="submit">Enviar </button>
          <button mat-raised-button color="primary"style="top: 300px; left: 150px;" routerLink="/mototaxi/historialCliente">Cancelar</button>
      </mat-card-content>
    </mat-card>
  </form>
</div>