<div style="float: right ">
  <button mat-fab color="accent" routerLink="/hccauchos/catalogo" style="margin-right: 5px;">
    <mat-icon>inventory_2</mat-icon>
  </button>
  <button mat-fab color="accent" routerLink="">
    <mat-icon>history</mat-icon>
  </button>
</div>

<h2> -- CARRITO DE COMPRAS HCCAUCHOS -- </h2>
<div class="carrito-container">
    <div *ngIf="(pedidos != undefined && pedidos.length > 0)" class="boton-vaciar">
        <button mat-raised-button color="primary" (click)="vaciarCarrito()">
            <mat-icon matPrefix>delete</mat-icon>
            VACIAR CARRITO
        </button>
    </div>
    <ng-container *ngFor="let pedido of pedidosPaginados">
        <div class="card-producto">
            <div class=img-producto>
                <img mat-card-image onerror="this.src='assets/images/HCCauchos info.png'" src="{{pedido.imagen}}">
            </div>
            <div class="container-descripcion">
                <div class="descripcion-producto">

                    <div class="producto">
                        <h2> {{pedido.nom_producto}} </h2>
                      STOCK:
                        <mat-form-field>
                            <input type="text" value="{{pedido.cant_Actual}}" class="columna1" disabled matInput>
                        </mat-form-field>
                        <br>
                        CANTIDAD PEDIDA:
                        <mat-form-field>
                            <input type="text" value="{{pedido.cantidad}}" class="columna1" disabled matInput>
                        </mat-form-field>
                        <br>
                        PRECIO UNITARIO:
                        <mat-form-field>
                            <input type="text" value="{{pedido.precio}}" class="columna1" disabled matInput>
                        </mat-form-field>
                        <br>
                        PRECIO TOTAL:
                        <mat-form-field>
                            <input type="text" value="{{pedido.total}}" class="columna1" disabled matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="btn-productos">
                    <button mat-raised-button color="primary" class = "cancelar" (click)="cancelarPedido(pedido.id_Carrito)"> CANCELAR </button>
                </div>
            </div>
        </div>
    </ng-container>

    <mat-paginator [hidden]="(pedidos == undefined || pedidos.length == 0)" [pageSizeOptions]="[3, 6, 9]"  (page)="actualizarPaginador()" showFirstLastButtons></mat-paginator>


</div>
