<div class="carrito-container">

  <ng-container *ngFor="let articulo of data.articulos">

      <div class="card-producto">
        <div class=img-producto>
          <img mat-card-image onerror="this.src='assets/images/Superfast info.jpg'" src="{{articulo.imagen_producto1}}">
        </div>
        <div class="container-descripcion">
          <div class="descripcion-producto">

            <div class="producto">
              <h2> {{articulo.nombreprodet}} </h2>
              DESCRIPCIÓN:
              <mat-form-field>
                <input type="text" value="{{articulo.descripcion}}" disabled class="columna1" matInput>
              </mat-form-field>
              <br>
              CANTIDAD:
              <mat-form-field>
                <input type="number" value="{{articulo.cantidad}}" disabled class="columna1" matInput>
              </mat-form-field>
              <br>
              ESPECIFICACIÓN:
              <mat-form-field>
                <input type="text" value="{{articulo.especprodaliado}}" disabled class="columna1" matInput>
              </mat-form-field>
              <br>
              VALOR UNITARIO:
              <mat-form-field>
                <input type="number" value="{{articulo.v_unitario}}" disabled class="columna1" matInput>
              </mat-form-field>
              <br>
              SUBTOTAL:
              <mat-form-field>
                <input type="number" value="{{articulo.v_total}}" disabled class="columna1" matInput>
              </mat-form-field>
            </div>
          </div>

        </div>
      </div>

  </ng-container>

</div>

