<div style="float: right ">
  <button mat-fab color="accent" routerLink="/superfast/carrito" style="margin-right: 5px;">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-fab color="accent" routerLink="/superfast/historial">
    <mat-icon>history</mat-icon>
  </button>
</div>


<div class="content">
    <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
    <input class="barra" type="text" placeholder="Buscar por nombre, precio, descripción" matInput (keyup)="dataFilter($event.target.value)"> </mat-form-field>
      <div><mat-card-title>- BIENVENIDO A SUPERFAST -</mat-card-title></div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let producto of productosFiltrados">
            <mat-card class="mat-elevation-z4">

                <mat-card-header>

                </mat-card-header>
                <img mat-card-image onerror="this.src='assets/images/Superfast info.jpg'" src="{{producto.imagen_producto1}}">
                <mat-card-content>
                    <h1>{{producto.nombre_producto}}</h1>
                    <p>
                        ALIADO: {{producto.nombre_aliado}}
                    </p>
                    <p>
                        PRECIO: ${{formatoMoneda.format(producto.precio_producto)}}
                    </p>
                    <p>
                        DESCRIPCIÓN: {{producto.descripcion_producto}}
                    </p>
                </mat-card-content>
                <mat-card-actions>

                    <button mat-button (click)="openDialog(producto)"><mat-icon matPrefix>shopping_cart</mat-icon>Añadir</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>

<mat-paginator [pageSizeOptions]="[3, 6, 9]"  (page)="actualizarPaginador()" showFirstLastButtons></mat-paginator>
