<div [hidden]="route.children.length !== 0">
  <div class="occibana-image" fxLayoutAlign="center">
    <img src="assets/images/occibana-principal.png" />
  </div>

  <section class="reservar">
    <h1>ZONA DE RESERVAS</h1>
    <h1>BIENVENIDO {{ usuario?.nombre + " " + usuario?.apellido }}</h1>

    <div class="div-reservar" fxLayout="row" fxLayoutAlign="center center">
      <div class="disponibilidad" fxLayoutAlign="center center">
        <!--Formulario datos del viaje para reservar-->
        <form [formGroup]="rangoFechas" (ngSubmit)="onDisponibilidad($event)">
          <h2>{{ informacionHotel?.nombre }}</h2>
          <h2><img src="assets/images/hotel.png" /></h2>
          <h2>Fecha de llegada y salida:</h2>
          <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Ingresa un rango de fechas</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input
                matStartDate
                formControlName="fechaLlegada"
                required
                placeholder="Fecha de llegada"
              />
              <input
                matEndDate
                formControlName="fechaSalida"
                required
                placeholder="Fecha de salida"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="rangePicker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker>
              <mat-date-range-picker> </mat-date-range-picker>
            </mat-date-range-picker>
            <mat-error
              *ngIf="rangoFechas.controls.fechaLlegada.hasError('required')"
              >Fecha de llegada requerida
            </mat-error>
            <mat-error
              *ngIf="rangoFechas.controls.fechaSalida.hasError('required')"
              >Fecha de salida requerida
            </mat-error>
          </mat-form-field>
          <h2>Número de personas: {{ informacionHabitacion?.numpersonas }}</h2>
          <button mat-raised-button color="accent">
            BUSCAR DISPONIBILIDAD
          </button>
        </form>
      </div>

      <div class="reservar-ahora" fxLayoutAlign="center center">
        <!--Formulario datos personales para reservar-->
        <mat-card class="reserva-usuario-card">
          <form [formGroup]="reservaForm" (ngSubmit)="onSubmit($event)">
            <!--Cabecera de la card-->
            <mat-card-header>
              <mat-card-title>
                <h2>
                  ¡Para llevar a cabo tu reserva, déjanos saber algunos de tus
                  datos!
                </h2>
              </mat-card-title>
            </mat-card-header>

            <!--Contenido de la card-->
            <mat-card-content
              fxLayout="column"
              fxLayoutAlign="space-evenly center"
            >
              <div fxLayout="column" fxLayoutAlign="space-evenly center">
                <mat-form-field class="reservaForm-full-width">
                  <input
                    type="text"
                    matInput
                    placeholder="Nombre"
                    required
                    formControlName="nombre"
                  />
                  <mat-icon matPrefix>portrait</mat-icon>
                  <mat-error
                    *ngIf="reservaForm.controls.nombre.hasError('required')"
                  >
                    Este campo es<strong> obligatorio</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="reservaForm-full-width">
                  <input
                    type="text"
                    matInput
                    placeholder="Apellido"
                    required
                    formControlName="apellido"
                  />
                  <mat-icon matPrefix>portrait</mat-icon>
                  <mat-error
                    *ngIf="reservaForm.controls.apellido.hasError('required')"
                  >
                    Este campo es<strong> obligatorio</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="reservaForm-full-width">
                  <mat-label> Correo electrónico </mat-label>
                  <input
                    type="email"
                    matInput
                    placeholder="Ingresa tu correo"
                    required
                    formControlName="email"
                  />
                  <mat-icon matPrefix>contact_mail</mat-icon>
                  <mat-error
                    *ngIf="
                      reservaForm.controls.email.hasError('email') &&
                      !reservaForm.controls.email.hasError('required')
                    "
                  >
                    Digita un correo electrónico válido
                  </mat-error>
                  <mat-error
                    *ngIf="reservaForm.controls.email.hasError('required')"
                  >
                    Este campo es<strong> obligatorio</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="reservaForm-full-width">
                  <mat-label> Confirmar correo electrónico </mat-label>
                  <input
                    type="email"
                    matInput
                    placeholder="Ingresa tu correo"
                    required
                    formControlName="email"
                  />
                  <mat-icon matPrefix>contact_mail</mat-icon>
                  <mat-error
                    *ngIf="
                      reservaForm.controls.email.hasError('email') &&
                      !reservaForm.controls.email.hasError('required')
                    "
                  >
                    Digita un correo electrónico válido
                  </mat-error>
                  <mat-error
                    *ngIf="reservaForm.controls.email.hasError('required')"
                  >
                    Este campo es<strong> obligatorio</strong>
                  </mat-error>
                </mat-form-field>

                <h2>
                  Precio por noche: COP {{ informacionHabitacion?.precio }}
                </h2>
                <mat-radio-group
                  aria-label="MEDIO DE PAGO:"
                  [(ngModel)]="medioPagoSeleccionado"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <mat-radio-button
                    class="example-radio-button"
                    *ngFor="let mediopago of mediosPago"
                    [value]="mediopago"
                  >
                    {{ mediopago }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>

              <button mat-raised-button [disabled]="isDisabled" color="primary">
                CONFIRMAR RESERVA
                <mat-icon matPrefix>done</mat-icon>
              </button>
            </mat-card-content>
          </form>
          <button mat-raised-button color="primary" (click)="onMisReservas()">
            MIS RESERVAS
            <mat-icon matPrefix>playlist_add_check</mat-icon>
          </button>
        </mat-card>
      </div>
    </div>
  </section>
</div>
<router-outlet></router-outlet>
