<div class="perfil-container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0" fxLayoutGap.xs="0">


    <div class="form">
        <div class="forma3">
            <img src="assets/images/caucho.jpg">

            <button mat-raised-button color="primary">ACTUALIZAR</button>
        </div>
        <div class="form1">

            <input type="text" class="columna1" matInput placeholder="ID USUARIO: ">
            <input type="text" class="columna1" matInput placeholder="NOMBRE: ">
            <input type="text" class="columna1" matInput placeholder="APELLIDO: ">
            <input type="text" class="columna1" matInput placeholder="CORREO: ">
            <input type="text" class="columna1" matInput placeholder="CONTRASEÑA: ">
        </div>
        <div class="form2">

            <input type="text" class="columna1" matInput placeholder="CELULAR: ">
            <input type="text" class="columna1" matInput placeholder="USUARIO: ">
            <input type="text" class="columna1" matInput placeholder="FECHA DE NACIMIENTO: ">
            <input type="text" class="columna1" matInput placeholder="DOCUMENTO: ">
            <input type="text" class="columna1" matInput placeholder="DIRECCIÓN: ">
        </div>

    </div>
</div>