<div class="titulo" fxLayoutAlign="center">
    PERFIL
</div>
<div class="perfil-container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0" fxLayoutGap.xs="0">

    <div class="form">
        <div class="forma3">
            <img src="assets/images/caucho.jpg">

            <button mat-raised-button color="primary">ACTUALIZAR
                <mat-icon class="icono" matPrefix>check_circle</mat-icon>
            </button>
        </div>

        <div class="form1">

            <mat-form-field>
                <mat-icon matPrefix>person</mat-icon>
                <input type="text" class="columna1" matInput placeholder="ID USUARIO: ">
            </mat-form-field>
            <mat-form-field>
                <mat-icon matPrefix>badge</mat-icon>
                <input type="text" class="columna1" matInput placeholder="NOMBRE: ">
            </mat-form-field>
            <mat-form-field>
                <mat-icon matPrefix>badge</mat-icon>
                <input type="text" class="columna1" matInput placeholder="APELLIDO: ">
            </mat-form-field>
            <mat-form-field>
                <mat-icon matPrefix>email</mat-icon>
                <input type="text" class="columna1" matInput placeholder="CORREO: ">
            </mat-form-field>
            <mat-form-field>
                <mat-icon matPrefix>password</mat-icon>
                <input type="text" class="columna1" matInput placeholder="CONTRASEÑA: ">
            </mat-form-field>
        </div>
        <div class="form2">
            <mat-form-field>
                <mat-icon matPrefix>call</mat-icon>
                <input type="text" class="columna1" matInput placeholder="CELULAR: ">
            </mat-form-field>
            <mat-form-field>
                <mat-icon matPrefix>face</mat-icon>
                <input type="text" class="columna1" matInput placeholder="USUARIO: ">
            </mat-form-field>
            <mat-form-field>
                <mat-icon matPrefix>event</mat-icon>
                <input type="date" class="columna1" matInput placeholder="FECHA DE NACIMIENTO: ">
            </mat-form-field>
            <mat-form-field>
                <mat-icon matPrefix>description</mat-icon>
                <input type="number" class="columna1" matInput placeholder="DOCUMENTO: ">
            </mat-form-field>
            <mat-form-field>
                <mat-icon matPrefix>home</mat-icon>
                <input type="text" class="columna1" matInput placeholder="DIRECCIÓN: ">
            </mat-form-field>
        </div>

    </div>
</div>