<h2> -- CARRITO DE COMPRA -- </h2>
<div class="carrito-container">
    <div class="boton-vaciar">
        <button mat-raised-button color="primary">
            <mat-icon matPrefix>delete</mat-icon>
            VACIAR CARRITO
        </button>
    </div>
    <ng-container *ngFor="let pedido of pedidos">
        <div class="card-producto">
            <div class=img-producto>
                <img mat-card-image src="{{pedido.compras[0].imagen_producto1}}">
            </div>
            <div class="container-descripcion">
                <div class="descripcion-producto">

                    <div class="producto">
                        <h2> {{pedido.compras[0].nombreprodet}} </h2>
                      DESCRIPCIÓN:
                        <mat-form-field>
                            <input type="text" value="{{pedido.compras[0].descripcion}}" disabled class="columna1" matInput>
                        </mat-form-field>
                        <br>
                        CANTIDAD:
                        <mat-form-field>
                            <input type="number" value="{{pedido.compras[0].cantidad}}" disabled class="columna1" matInput>
                        </mat-form-field>
                        <br>
                        ESPECIFICACIÓN:
                        <mat-form-field>
                            <input type="text" value="{{pedido.compras[0].especprodaliado}}" disabled class="columna1" matInput>
                        </mat-form-field>
                        <br>
                        VALOR UNITARIO:
                        <mat-form-field>
                            <input type="number" value="{{pedido.compras[0].v_unitario}}" disabled class="columna1" matInput>
                        </mat-form-field>
                        <br>
                        SUBTOTAL:
                        <mat-form-field>
                            <input type="number" value="{{pedido.compras[0].v_total}}" disabled class="columna1" matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="btn-productos">

                    <button mat-raised-button color="primary" class = "cancelar" (click)="cancelarPedido(pedido.id_pedido)"> CANCELAR </button>
                </div>
            </div>
        </div>
    </ng-container>

</div>
