<button mat-fab color="accent" style="float: right " routerLink="/hccauchos/carrito">
  <mat-icon>shopping_cart</mat-icon>
</button>

<div class="content">
  <section class="filter" fxLayoutAlign="center">
    <mat-form-field class="catalogo">
      <mat-label>¿Buscas algo?</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input type="text" placeholder="Buscar por nombre, precio, descripción" matInput
        (keyup)="dataFilter($event.target.value)">
    </mat-form-field>
  </section>
  <div>
    <mat-card-title>- BIENVENIDO A HC CAUCHOS -</mat-card-title>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%"
      *ngFor="let producto of productosFiltrados">
      <mat-card class="mat-elevation-z4">

        <mat-card-header>

        </mat-card-header>
        <img mat-card-image src="{{producto.imagen}}">
        <mat-card-content>
          <h1>{{producto.titulo}}</h1>
          <p>
            REFERENCIA: {{producto.referencia}}
          </p>
          <p>
            PRECIO: ${{formatoMoneda.format(producto.precio)}}
          </p>
          <p *ngIf="producto.id != idProductoStockExcedido">
            STOCK: {{producto.ca_actual}}
          </p>
          <p *ngIf="producto.id == idProductoStockExcedido" style="color:red">
            STOCK: {{producto.ca_actual}}
          </p>
          <p>
            MARCA: {{producto.nombre_marca}}
          </p>
          <p>
            CATEGORÍA: {{producto.nombre_categoria}}
          </p>
        </mat-card-content>

        <mat-card-actions>
          <div class="contenedorAgregar">
            <div>
              <div class="contenedorCampoCantidad">
                <input matInput type="number" min="0" placeholder="Cantidad" (keydown)="validacionesPropias.soloNumeros($event)" (keyup)="noExceder($event, producto.ca_actual, producto.id)">
              </div>
            </div>

            <div>
              <button mat-button (click)="agregarAlCarrito(cantidad, producto)">
                <mat-icon matPrefix>shopping_cart</mat-icon>Añadir
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>
