<h1>MIS RESERVAS</h1>
<div class="mis-reservas-container">
  <div fxLayout="row wrap" fxLayoutGap="18px grid">
    <div
      [fxFlex]="100 / gridColumns + '%'"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let reserva of reservas"
    >
      <mat-card class="mis-reservas-card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Reserva a nombre de </mat-card-title>
          <mat-card-subtitle>{{
            usuario.nombre + " " + usuario.apellido
          }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <ul>
            <li><mat-icon>local_hotel</mat-icon><em> Hotel:</em> {{ reserva.nombrehotel }}</li>
            <li><mat-icon>people</mat-icon><em> Número de personas:</em> {{ reserva.numpersona }}</li>
            <li><mat-icon>date_range</mat-icon>
              <em> Fecha llegada:</em>
              {{ reserva.fecha_llegada | date: "dd-MM-yyyy":"UTC" }}
            </li>
            <li><mat-icon>date_range</mat-icon>
              <em> Fecha salida:</em>
              {{ reserva.fecha_salida | date: "dd-MM-yyyy":"UTC" }}
            </li>
            <li><mat-icon>email</mat-icon><em> Correo:</em> {{ reserva.correo }}</li>
            <li><mat-icon>monetization_on</mat-icon><em> Medio de pago:</em> {{ reserva.mediopago }}</li>
            <li><mat-icon>star_rate</mat-icon> 
              <em> Calificación:</em> 
              <ngb-rating [(rate)]="reserva.calificacion">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100"
                    >&#9733;</span
                  >
                </ng-template>
              </ngb-rating>
            </li>
            <li><mat-icon>comment</mat-icon><em> Comentario:</em> {{ reserva.comentario }}</li>
          </ul>
        </mat-card-content>
        <mat-card-actions style="overflow: hidden">
          <button
            mat-mini-fab
            color="accent"
            (click)="calificarHotel(reserva.id)"
          >
            <mat-icon>start_purple500</mat-icon>
          </button>

          <button mat-mini-fab color="accent" (click)="comentarHotel()">
            <mat-icon>add_comment</mat-icon>
          </button>

          <button
            mat-mini-fab
            color="primary"
            (click)="cancelarReserva(reserva.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
