.mis-reservas-container {
  width: 95%;
  margin: 5% 2% 5% 2%;
}

h1 {
  margin-top: 50px;
  text-align: center;
  font: bold;
  font-size: 50px;
  color: transparent;
  -moz-text-stroke-width: 1.5px;
  -webkit-text-stroke-width: 1.5px;
  -moz-text-stroke-color: #000000;
  -webkit-text-stroke-color: #ffffff;
  text-shadow: 6.5px 5px #000000;
}

.mis-reservas-card {
  background-color: #12213b;
}

.header-image {
  background-image: url("../../../../../assets/images/reserva.png");
  background-size: cover;
}

.mat-card-actions button {
  margin-left: 10px;
  float: right;
}

.star {
  font-size: 1.5rem;
  color: #8f8f8f;
  letter-spacing: 5px;
}

.filled {
  color: #ffff00;
}

ul li {
  list-style: none;
}

li {
  margin-top: 8px;
  font-size: 18px;
}

li .mat-icon {
  color: #E91E63;
}

li em {
  font-weight: bold;
}

.btn-home {
 margin-top: -70px;
 left: 90%;
}