<button mat-fab class="buttonSolicitud" title="Solicitar Servicio" routerLink="/mototaxi/solicitudServicio">
    <img src="assets/images/servicio.png" class="fabs">
</button>
<button mat-fab class="buttonHistorial" title="Historial Cliente" routerLink="/mototaxi/historialCliente">
    <img src="assets/images/historial2.png" class="fabh">
</button>
<div ID="content" class="formuser-container" fxLayout fxLayout.xs="column" fxLayoutAlign="column" fxLayoutAlign="center" fxLayoutGap="0" fxLayoutGap.xs="0">
    <mat-card class="card" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-content>
            <div>
                <h1 class="title" style="top: 100px; left: 10%;">Fecha:</h1>
                <h1 class="info" style="top: 100px; left: 22%;">{{this.fechaCarrera | date: 'dd/MM/yyy'}}</h1>
                <h1 class="title" style="top: 100px; left: 60%;">FACTURA DE SERVICIO</h1>
            </div>
            <br>
            <div>
                <img src="assets/images/factura.JPG" class="image">
            </div>
            <div>
                <h1 class="title" style="top: 278px; left: 35%;">Nombre:</h1>
                <h1 class="info" style="top: 278px; left: 50%;">{{this.nombre}}</h1>
            </div>
            <div>
                <h1 class="title" style="top: 320px; left: 35.4%;">Destino:</h1>
                <h1 class="info" style="top: 320px; left: 50%;">{{this.destino}}</h1>
            </div>
            <div>
                <h1 class="title" style="top: 362px; left: 32.4%;">Ubicación:</h1>
                <h1 class="info" style="top: 362px; left: 50%;">{{this.ubicacion}}</h1>
            </div>
            <div>
                <h1 class="title" style="top: 404px; left: 37.7%;">Tarifa:</h1>
                <h1 class="info" style="top: 404px; left: 50%;">$ {{this.tarifa}}</h1>
            </div>
            <div>
                <h1 class="title" style="top: 446px; left: 24%;">Método de Pago:</h1>
                <h1 class="info" style="top: 446px; left: 50%;">{{this.pago}}</h1>
            </div>
            <div>
                <h1 class="pie1">
                    Cualquier inconformidad o reclamo comuniquese con el correo: motodeluxe@gmail.com</h1>
            </div>
            <div>
                <h1 class="pie2">
                    Sasaima - Cundinamarca</h1>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="btn">
  <button mat-raised-button color="primary" (click)="export()"> DESCARGAR </button>
</div>
