.card {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 700px;
    background-color: white;
    line-height: 770px;
}

.buttonSolicitud {
    background-color:burlywood;
    display: flex;
    justify-content: center;
    margin-right: 8px;
    position: absolute;
    top: 8%;
    left: 80%;
    width: 70px;
    height: 70px;
}

.fabs{
    margin-top: -6.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px !important;
    width: 50px !important;
    font-size: 50px !important;
}

.buttonHistorial {
    background-color:burlywood;
    display: flex;
    justify-content: center;
    margin-right: 8px;
    position: absolute;
    top: 8%;
    left: 90%;
    width: 70px;
    height: 70px;
}

.fabh{
    margin-top: -6.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px !important;
    width: 50px !important;
    font-size: 50px !important;
}

.text{
    font-size: 15px;
    text-align: center;
}

.title{
    position: absolute;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.info{
    position: absolute;
    color: black;
    font-size: 20px;
}

.image{
    position:absolute; 
    top: 150px; 
    left: 7.5%;
}

.pie1{
    color: black;
    position: absolute;
    top: 550px;
    left: 8.2%;
    font-size: 15px;
}

.pie2{
    color: black;
    position: absolute;
    top: 640px;
    left: 37%;
    font-size: 15px;
}