<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Cabecera del error 500 -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>500 - Error</title>
</head>

<body>
  <!-- Cuerpo del error 500 -->
  <div class="cover">
   
    <h1>¡OOPS! Ha ocurrido un error
        <div class="errorEE">
      <small>{{ statusTexts }} {{ status }}</small>
    </div>
    </h1>  
    <!-- Boton que redirige al login -->  
    <a routerLink="/login">Ir a Login</a> 
  </div>

</body>

</html>